<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter List Exercise</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">

    <style>
        body {
            height: 100vh;
        }

        #app {
            margin-top: 15vh;
        }

        .panel-block {
            position: relative;
        }

        .panel-block .fa-times {
            display: none;
        }

        .panel-block:hover .fa-times {
            color: #af5b5e;
            display: block;
            position: absolute;
            right: 10px;
        }
    </style>
</head>

<body>
    <div id="app" class="columns">
        <nav class="panel column is-4 is-offset-4 has-text-centered">
            <p class="panel-heading">
                Social Media
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input is-small" type="text" placeholder="Search" v-model='search'>
                    <span class="icon is-small is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </p>
            </div>
            <a class="panel-block" v-bind:href="socialMedia.link" target="_blank" v-for="(socialMedia, i) in filteredList">
                    <span class="panel-icon">
                        <i class="fa" v-bind:class="'fa-'+socialMedia.name"></i>
                    </span>
                        {{ socialMedia.name | cap }}
                    <span class="panel-icon">
                        <i class="fa fa-times" v-on:click.prevent="remove(i, $event)"></i>
                    </span>
            </a>
        </nav>
    </div>
    <script src='../vue.js'></script>
    <script>
        const app = new Vue({
            
            data: {
                search: '',
                socialMediaList: [{
                        name: "linkedin",
                        link: "https://www.linkedin.com"
                    },

                    {
                        name: "hacker-news",
                        link: "https://news.ycombinator.com/"
                    },
                    {
                        name: "meetup",
                        link: "https://www.meetup.com/"
                    },
                    {
                        name: "quora",
                        link: "https://www.quora.com/"
                    },
                    {
                        name: "facebook",
                        link: "https://www.facebook.com/"
                    },
                    {
                        name: "twitter",
                        link: "https://twitter.com"
                    },
                    {
                        name: "reddit",
                        link: "https://www.reddit.com"
                    }
                ]
            },
            computed: {
                filteredList() {
                    const self = this;
                    return self.socialMediaList.filter(function (sm) {
                        return sm.name.indexOf(self.search.toLowerCase()) > -1;
                    });
                }
            },
            methods: {
                remove(i, $event) {
                    console.log($event);
                    this.socialMediaList.splice(i, 1);
                }
            },
            filters: {
                cap(value) {
                    var isString = typeof value;
                    if (value && isString) {
                        return value[0].toUpperCase() + value.slice(1);
                    } else {
                        return '';
                    }
                    
                }
            },

            mounted() {
                document.querySelector('input').focus();
            }
        }).$mount('#app');
    </script>
</body>

</html>